{
    "extends": ["airbnb"],
    "env": {
      "browser": true,
      "node": true
    },
    "rules": {
      "import/extensions": [
        "error",
        "never",
        { "svg": "always", "json": "always" }
      ],
      "import/newline-after-import": ["error", { "count": 1 }],
      "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
      "import/order": [
        "error",
        {
          "groups": [
            "builtin",
            "external",
            "internal",
            "parent",
            "sibling",
            "index",
            "object",
            "type"
          ],
          "newlines-between": "always",
          "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
          }
        }
      ],
      "default-param-last": "off",
      "react/jsx-props-no-spreading": "off",
      "linebreak-style": 0,
      "import/no-import-module-exports": 0
    },
    "settings": {
      "import/resolver": {
        "node": {
          "moduleDirectory": ["node_modules", "src/"]
        }
      }
    }
  }
  